<!DOCTYPE html>
<html>

<head>
  <title>Collabstoryproject</title>
  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= javascript_include_tag "application", type: "text/javascript" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
