
<h1 class="title"> <%= @story.title %> </h1>
<h2 class="summary"> <%= @story.summary %> </h2> 

<div class="break"></div>


<!-- the container for visualization -->
<div class="vis" id="viscontainer">

</div>

<!-- the read/write interface; should only be able to edit your own nodes; until have users and logins, no editing allowed, only creating new nodes-->
<div id="rwcontainer">
<!-- 	<div class="read"></div>
 -->	<div id="write">
		<form>
			<input type="text" name="content">
		</form>
	</div>
</div>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script>
	d3visdisplay(<%=raw @json_data %>);
</script>