// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-family: 'Lato', sans-serif;
}


#header_bar {
	position: absolute;
	right: 15px;
	text-align: right;
}

.small_spacer {
	margin: 10px;
}

.commented_out_node {
	border-style: solid;
	border-width: 2px;
	border-color: black;

	width: 100px;
	height: 20px;

	margin: 10px;

	text-align: center;
}

.title {
	text-align: center;
}

.summary {
	text-align: center;
}

.break {
	border-style: solid;
	border-width: 2px;
	border-color: #F0F0F0 ;
	margin-top: 10px;
}

.vis {
	width: 49%;
	height: 100%;
	border-style: solid;
	border-width: 2px;
	border-top-width: 0px;
	border-color: #F0F0F0;
	position: absolute;
	right: 0px;
}

#rwcontainer {
	width: 49%;
	height: auto;
	position: absolute;
	left: 1px;
	padding: 10px;
}

#write {
	display: none;
	letter-spacing: 0.01rem;
	line-height:1.3;
	margin-left:12px;
	margin-right:15px;
	font-family: 'Georgia';
}

#new_text {
	width: 900px;
	height: 500px;
}

#new_link_connection {
	display:none;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}


.node_selected circle {
  fill: #ff7f0e;
  stroke: #ff7f0e;
}

.gnode text {
	stroke: #bbbbbb;
	font-size:10px;
}

.node_selected text {
	stroke: #000000;
}

.node_non_selected text {
	display:none;
}

.node_child circle {
  fill: #ff7f0e;
  stroke: #949494;
}

.drag_line {
  stroke: #999;
  stroke-width: 1;
  pointer-events: none;
}

.drag_line_hidden {
  stroke: #999;
  stroke-width: 0;
  pointer-events: none;
}

.link_selected {
  stroke: #ff7f0e;
}

#submit_text_area:focus {
	/*background:#f3efec;*/
	outline:0px none transparent;
}

#submit_text_area {
	border: 0px;
	margin-top: 3px;
	font-size:15px;
	/*border: 1px solid #bbb;
	box-shadow: inset 0 1px 2px #ccc;*/
	/*color:rgba(0,0,0,0.5);*/
	color:rgba(0,0,0,0.8);
	min-height: 12em;
	width:99%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#submit_node {
	border-color: #a9d8b2;
	color: #57ad68;
}

#submit_node:hover{
	background: rgba(0,0,0,0);
	border-color: #57ad68;
	color: #468c54;
	cursor:pointer;
}

#cancel_btn:hover {
	border-color: #cc5454;
	color: #cc5454;
	cursor:pointer;
}

.placeholder:after {
	content: "Continue the story...";
	position: absolute;
	color:#a9a9a9;
}

#read {
	letter-spacing: 0.01rem;
	line-height: 1.3;
	font-family: 'Georgia';
	font-size:15px;
	padding-left:15px;
	padding-right:15px;
	overflow: auto;
	color:rgba(0,0,0,0.8);
}

input[id='title_field'] {
    border: 0px solid;
	margin-top: 70px;
	width: 100%;
	text-align: center;
	font-size: 40px;
	font-family: 'Lato', sans-serif;
} 


input[id='summary_field'] {
    border: 0px solid;
	margin-top: 30px;
	width: 100%;
	text-align: center;
	font-size: 25px;
	font-family: 'Lato', sans-serif;
}

.new_story_button {
	font-family: 'Lato', sans-serif;
	margin-top: 30px;
	text-align: center;
	position: fixed;
    width: 60px;
    height: 40px;
    font-weight: bold;
    font-size: 15px;
}

#submit_new_story {
	bottom: 10px;
    right: 30px;
}

#cancel_new_story {
	bottom: 10px;
    left: 30px;	
    width: 70px;
}

.truth_input {
	font-family: 'Lato', sans-serif;
	width: 80%;
	height: 120px;
}

#error_msg {
	font-family: 'Lato', sans-serif;
	color:red;
	font-weight:bold;
}

#add_truth_node {
	border-style: solid;
	border-width: 2px;
	border-color: #F0F0F0;
	font-weight: bold;
	font-size: 25px;
	width: 30px;
	height: 30px;
	text-align: center;
}

.write_btn {
	height: 34px;
	float: right;
	margin-right: 8px;
	line-height: 30px;
	padding: 0 16px;
	position: relative;
	vertical-align: middle;
	border: 1px solid rgba(0,0,0,0.15);
	color: rgba(0,0,0,0.44);
	background: rgba(0,0,0,0);
	letter-spacing: -0.02em;
	box-sizing: border-box;
	-webkit-border-radius: 999em;
	-moz-border-radius: 999em;
	border-radius: 999em;
	-webkit-transition: .05s background-color, .05s border-color, .05s color;
	-moz-transition: .05s background-color, .05s border-color, .05s color;
	-ms-transition: .05s background-color,.05s border-color,.05s color;
	-o-transition: .05s background-color,.05s border-color,.05s color;
	overflow: visible;
	text-rendering: optimizeLegibility;

}